*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;

}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    
}
nav{
    text-align: end;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-right: 20px;
    
    
}

.bugatti{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 50px;  
    
}
.bugatti img{
    border-style: solid;
    border-color: white;
}
