* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;

}

nav {
    text-align: end;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-right: 20px;


}

.bugatti {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 50px;
    flex-wrap: wrap;

}

.bugatti h2,
p {
    display: flex;
    flex-wrap: wrap;
    color: white;    
 }

 p {
    width: 30%;
}


.bugatti img {
    border-style: solid;
    margin-right: 10%;
    border-color: white;
    width: 600px;

}

.video {
    width: 100%;
    border-style: solid;

}